html {
    text-align: center;
    background-color: #04050a;
    color: #489aba;
}
h1 {
    color: #00CDFF;
    text-shadow: 0.5px 0.5px 10px #018791;
    font-size: 35px
}
h3 {
    font-size: 18px;
    font-weight: bold;
}
p {font-size: 16px}
em {
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-shadow: 0.5px 0.5px 10px #018791;
}
h5 {
    font-family: Courier;
    font-size: 20px;
}
a {
    color: #489aba;
    font-size: 14px;
}
select {
    background-color: #04050a;
    border-color: #00CDFF;
    border-radius: 4px;
    padding: 6px 14px;
    font-size: 14px;
    color: #00CDFF;
}
div:hover,
div:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.1em);
}
input {
    background-color: #04050a;
    border-color: #00CDFF;
    color: #00CDFF;
    padding: 6px 18px;
    border-radius: 4px;
    font-size: 14px;
}
hr {
    background-color: #6F05F0;
    box-shadow: 0.5px 0.5px 5px #6F05F0;
}
