/* Panel navegación superior */
ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: auto;
    background-color: #4e4e4e7e;
    overflow: hidden;
}
li {
    float: left;
}
#about {float: right;}
li a {
    display: block;
    color: #489aba;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #08080880;
    color: #00ccff;
    text-shadow: 0.5px 0.5px 10px #018791;
    box-shadow: 0 0px 20px #018791;
}
.active {
    background-color: #08080880;
    color: #00CDFF;
    text-shadow: 0.5px 0.5px 10px #018791;
}

body {
    font-family: 'Times New Roman', serif;
    text-align: center;
    color: #489aba;
    background-color: #0E0E0E; /*Se sobreescribirá con la imagen pero así no se mostrará en blanco al inicio*/
    background-image: url("background.png");
    background-repeat: repeat;
}
h1 {
    color: #00CDFF;
    text-shadow: 0.5px 0.5px 10px #018791;
    font-size: 40px
}
h3 {
    font-size: 18px;
    font-weight: bold;
}
#imagen {
    background-color: white;
    display: block;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

p {font-size: 16px}
em {
    color: #00CDFF;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-shadow: 0.5px 0.5px 10px #018791;
}
#letra {
    font-family: Courier, "Calibri", monospace;
    font-weight: bold;
    font-size: 25px;
    color: #00CDFF;
}
strong {
    color: #ff6b6b;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-shadow: 0.5px 0.5px 10px #e20000;
}
a {
    color: #489aba;
    font-size: 14px;
}
select {
    background-color: #04050a;
    border-color: #00CDFF;
    border-radius: 4px;
    font-size: 14px;
    color: #00CDFF;
    padding: 0.5em 1.2em;
    width: 270px;
}
.botonInputBraille {
    height: 100px;
    width: 70px;
}
table {
    border-spacing: 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed ;
}
input, .dropbtn {
    background-color: #04050a;
    border-color: #00CDFF;
    color: #00CDFF;
    text-align: center;
    padding: 0.5em 1.2em;
    border-radius: 4px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
input:hover,
select:hover,
.dropbtn:hover {
    box-shadow: 0 4px 16px #018791;
}
hr {
    border-color: #B882F9;
    box-shadow: 0px 0px 10px #6F05F0;
}
::placeholder { /* Firefox, Chrome, Opera */
    color: rgb(72, 154, 186);
    text-align: center;
}
::-moz-placeholder {
    color: #489aba;
    text-align: center;
}
::-webkit-input-placeholder {
    color: #489aba;
    text-align: center;
}
:-ms-input-placeholder, /* Internet Explorer 10-11 */
::-ms-input-placeholder { /* Microsoft Edge */
    color: #489aba;
    text-align: center;
}



/* MENÚ OPCIONES
The container <div> - needed to position the dropdown content */
.dropbtn {
    width: 300px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    width: 300px;
    box-shadow: 0 4px 16px;
    border-radius: 4px;
    z-index: 1;
    position: absolute;
}

/* Links inside the dropdown */
.dropdown-content a {
    background-color: #000000ea;
    color: #489aba;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 10px #018791;
    padding: 10px 16px;
    border-radius: 4px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #00CDFF;
    text-shadow: 0.5px 0.5px 10px #018791;
    font-size: 16px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}   */